@charset "utf-8";
/* 웹폰트 */
/* 

    font-family: 'Hahmlet', serif;

*/
@import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

/* 한국최신드라마 리스트 CSS - drama.css */

/* 초기화 */
html, body {
    margin: 0;
    padding: 0;
}

/* 테이블 공통 */
.tbl {
    /* 글자체 (웹폰트) ff */
    font-family: 'Hahmlet', serif;
    /* 글자색 c */
    color: #222;
    /* 테이블 기본 사이간극 없애기  */
    border-collapse: collapse;  
}

/* 드라마 리스트 테이블 */
#drama {
    /* 글자크기 fz */
    font-size: 24px;
    /* 블록 or 테이블 가로중앙정렬  margin: 0 auto; */
    margin: 0 auto;
    /* 가로크기 w */
    /* 테이블 width 지정이 없으면
    내용만큼 늘어남
    좁으면 아래로 내용이 줄바꿈됨 */
    width: 900px;
}

/* 테이블 제목 */
#drama caption {
    font-size: 35px;
    font-weight: bold;
    /* 자간 ls */
    letter-spacing: 5px;
    /* 패딩 위 양쪽 아래 */
    padding: 50px 0 20px;
}

/* td와 th 패딩 */
#drama td, th {
    /* 위아래 양쪽 */
    padding: 8px 10px;
}

/* td에 밑줄 넣기 - 테이블 본문에만 적용 */
#drama tbody td {
    /* text-align: center; */
    border-bottom: 1px solid #ccc;
}

/* th에 윗줄, 아랫줄 두꺼운 보더 넣기 */
#drama th {
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
}

/* 본문(tbody) 마지막 tr의 td 아랫쪽 보더 넣기 */
#drama tbody tr:last-child td {
    border-bottom: 2px solid #555;
}
/* 본문(tbody)의 짝수번째 tr의 td에 배경색 넣기 */
/* nth-child(순번)
-> odd(홀수), even(짝수) */
#drama tbody tr:nth-child(even) td {
    background-color: #ededed;
}

/* 본문 (tbody)의 첫번째 td (번호항목) 중앙정렬 */
#drama tbody td:first-child{
    text-align: center;
}

/* 하단부분(tfoot) */
#drama tfoot td {
    text-align: center;
    padding: 45px 0;
    letter-spacing: 2px;
}

#drama tbody tr td a {
    text-decoration: none;
    color: black;
}
#drama tbody tr td a:hover {
    color: red;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-style: wavy;
}

#drama tfoot a {
    text-decoration: none;
    color: black;
}

#drama tfoot a:hover {
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

/* 구분테이블 박스 */
div.gubun {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 100px;
    /* float으로 망가짐 방지 */
    overflow: hidden;
}

/* 구분테이블 */
table#gubun {
    font-size: 20px;
    border: 1px solid #999;
    /* 오른쪽 끝으로 보내기 */
    float: right;
}
/* 구분테이블 td */
#gubun td {
    padding: 10px;
}
/* 구분테이블 첫번째 tr의 첫번째 td의 오른쪽 점선넣기 */
#gubun tr:first-child td:first-child {
    border-right: 1px dotted #999;
}
/* 구분테이블 두번째 tr부터 마지막 tr까지 앞에 tr이 있는 tr형제요소만 선택하여 보더 상단 넣기 */
#gubun tr+tr td {
    border-top: 1px dotted #999;
}